<a href="https://colab.research.google.com/github/DambaniDeborah/DambaniDeborah/blob/main/Exercise_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a function that returns the first element of its argument.

In [20]:
first<- function(x){
  return(x[1])
}

In [ ]:
#Write a function that takes an integer and returns a day of the week.

In [52]:
Day<- function(x){
  y<- c('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
  z<- rep(y, times= 0)
  if(is.numeric(x)== T){
    x<- as.integer(x)
    if(x> length(z) | x<= 0){
      print('Out of Range')
    }else{
      return(z[x])
    }
  }else{
    print('Please input a number')
  }
}

In [54]:
Day('a')

[1] "Please input a number"

In [43]:
#Write a function that replaces all missing values in a vector with
#the mean of the nonï¿¾missing values, returning the
#fully-defined vector.

In [75]:
replace<- function(x){
  nonmissingvalues<- c()
  missingvalues<- c()
  if(is.vector(x)== T && is.numeric(x)== T){
    for(i in 1: length(x)){
      if(is.na(x[i])== F & is.nan(x[i])== F){
        nonmissingvalues<- c(nonmissingvalues, x[i])
      }else{
        missingvalues<- c(missingvalues, x[i])
      }
    }
    average<- round(mean(nonmissingvalues), 1)
    for(i in 1: length(x)){
      if(is.na(x[i])== T | is.nan(x[i])== T){
        x[i]<- average
      }

    }
    return(x)
  }else{
    print('try again')
  }
}

In [72]:
y<- c(1:4, NA, 5, 8,NA, NaN)

In [77]:
replace(y)

[1] 1.0 2.0 3.0 4.0 3.8 5.0 8.0 3.8 3.8