<a href="https://colab.research.google.com/github/DambaniDeborah/DambaniDeborah/blob/main/Exercises4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#problem1:load the sleep data set and determine the average sleep increase in hours by drug.

In [ ]:
head(sleep)

  extra group ID
1  0.7  1     1
2 -1.6  1     2
3 -0.2  1     3
4 -1.2  1     4
5 -0.1  1     5
6  3.4  1     6

In [ ]:
unique(sleep$group)

[1] 1 2
Levels: 1 2

In [ ]:
#from the data set, there are two drug groups (group 1 and 2)
#what we're interested in is the average extra sleep per group


tapply(X= sleep$extra, INDEX = sleep$group, FUN = mean, simplify = F)

$`1`
[1] 0.75

$`2`
[1] 2.33

In [ ]:
#Alternative:

  for(i in 1:2){
  x<-sleep[sleep$group==i,]
  y<- mean(x$extra)
  print(paste(c('Group', i, ':', y)))
  }

[1] "Group" "1"     ":"     "0.75"
[1] "Group" "2"     ":"     "2.33"

In [ ]:
#problem 2: load the women data set and determine the average height and weight using apply
#and lapply.

In [ ]:
head(women)

  height weight
1 58     115
2 59     117
3 60     120
4 61     123
5 62     126
6 63     129

In [ ]:
#using apply to calculate the average weight and height
apply(X=women, MARGIN = 2, FUN = mean)

  height   weight
 65.0000 136.7333

In [ ]:
#using lapply
args(lapply)

function (X, FUN, ...)
NULL

In [ ]:
lapply(X= women, FUN = mean)

$height
[1] 65

$weight
[1] 136.7333

In [ ]:
#problem 3:Read in the data5.csv data set and create a new dataframe containing the average
#DV and CRCL by DAY.

In [2]:
data5<-read.csv('data5.csv')
head(data5)

  C ID DV    AMT II ADDL TIME RATE HT  WT CLCR   SEX AGE DAY
1 0 1   0.00 900 12 9     0.0 300  103 91 101.48 0   46  1
2 0 1   6.99   0  0 0     1.5   0  103 91 101.48 0   46  1
3 0 1  12.66   0  0 0     3.0   0  103 91 101.48 0   46  1
4 0 1   5.31   0  0 0     8.0   0  103 91 101.48 0   46  1
5 0 1   2.39   0  0 0    11.9   0  103 91 101.48 0   46  1
6 0 1   2.87   0  0 0    23.9   0  103 91 101.48 0   46  1

In [ ]:
#explore data
summary(data5)

       C           ID              DV              AMT            II
 Min.   :0   Min.   : 1.00   Min.   : 0.000   Min.   :  0   Min.   : 0.0
 1st Qu.:0   1st Qu.:10.75   1st Qu.: 2.127   1st Qu.:  0   1st Qu.: 0.0
 Median :0   Median :20.50   Median : 3.520   Median :  0   Median : 0.0
 Mean   :0   Mean   :20.50   Mean   : 4.279   Mean   : 60   Mean   : 0.8
 3rd Qu.:0   3rd Qu.:30.25   3rd Qu.: 5.930   3rd Qu.:  0   3rd Qu.: 0.0
 Max.   :0   Max.   :40.00   Max.   :21.280   Max.   :900   Max.   :12.0
      ADDL          TIME             RATE           HT
 Min.   :0.0   Min.   :  0.00   Min.   :  0   Min.   : 41.00
 1st Qu.:0.0   1st Qu.:  8.00   1st Qu.:  0   1st Qu.: 59.25
 Median :0.0   Median : 47.90   Median :  0   Median : 69.00
 Mean   :0.6   Mean   : 60.82   Mean   : 20   Mean   : 70.33
 3rd Qu.:0.0   3rd Qu.:111.00   3rd Qu.:  0   3rd Qu.: 79.00
 Max.   :9.0   Max.   :144.00   Max.   :300   Max.   :108.00
      WT                 CLCR             SEX             AGE
 Length:600         Min.   :  4.58   Min.   :0.000   Min.   :38.00
 Class :character   1st Qu.: 33.92   1st Qu.:0.000   1st Qu.:44.00
 Mode  :character   Median : 47.88   Median :0.000   Median :45.50
                    Mean   : 54.54   Mean   :0.425   Mean   :45.65
                    3rd Qu.: 65.08   3rd Qu.:1.000   3rd Qu.:47.25
                    Max.   :192.38   Max.   :1.000   Max.   :51.00
      DAY
 Min.   :1.0
 1st Qu.:1.0
 Median :2.0
 Mean   :1.6
 3rd Qu.:2.0
 Max.   :2.0

In [ ]:

str(data5)

'data.frame':	600 obs. of  14 variables:
 $ C   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ID  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ DV  : num  0 6.99 12.66 5.31 2.39 ...
 $ AMT : int  900 0 0 0 0 0 0 0 0 0 ...
 $ II  : int  12 0 0 0 0 0 0 0 0 0 ...
 $ ADDL: int  9 0 0 0 0 0 0 0 0 0 ...
 $ TIME: num  0 1.5 3 8 11.9 ...
 $ RATE: int  300 0 0 0 0 0 0 0 0 0 ...
 $ HT  : int  103 103 103 103 103 103 103 103 103 103 ...
 $ WT  : chr  "91" "91" "91" "91" ...
 $ CLCR: num  101 101 101 101 101 ...
 $ SEX : int  0 0 0 0 0 0 0 0 0 0 ...
 $ AGE : int  46 46 46 46 46 46 46 46 46 46 ...
 $ DAY : int  1 1 1 1 1 1 2 2 2 2 ...

In [4]:
#make DAY a factor
data5$DAY<- factor(data5$DAY)

In [5]:
#confirm
str(data5)
unique(data5$DAY)

'data.frame':	600 obs. of  14 variables:
 $ C   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ID  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ DV  : num  0 6.99 12.66 5.31 2.39 ...
 $ AMT : int  900 0 0 0 0 0 0 0 0 0 ...
 $ II  : int  12 0 0 0 0 0 0 0 0 0 ...
 $ ADDL: int  9 0 0 0 0 0 0 0 0 0 ...
 $ TIME: num  0 1.5 3 8 11.9 ...
 $ RATE: int  300 0 0 0 0 0 0 0 0 0 ...
 $ HT  : int  103 103 103 103 103 103 103 103 103 103 ...
 $ WT  : chr  "91" "91" "91" "91" ...
 $ CLCR: num  101 101 101 101 101 ...
 $ SEX : int  0 0 0 0 0 0 0 0 0 0 ...
 $ AGE : int  46 46 46 46 46 46 46 46 46 46 ...
 $ DAY : Factor w/ 2 levels "1","2": 1 1 1 1 1 1 2 2 2 2 ...

[1] 1 2
Levels: 1 2

In [ ]:
#choose the best apply function to use
#aggregate.data.frame is my choice because it allows subsetting like tapply but allows and returns a dataframe
args(aggregate.data.frame)

function (x, by, FUN, ..., simplify = TRUE, drop = TRUE)
NULL

In [ ]:
#create a new dataframe containing the average
#DV and CLCR by DAY.
aggregate.data.frame(data5[, c('DV', 'CLCR')], by = list(data5[,'DAY']), FUN = mean, simplify= F, drop= F)

  Group.1 DV       CLCR
1 1       3.844042 66.54375
2 2       4.568472 46.54375

In [6]:
newdf<- aggregate.data.frame(data5[, c('DV', 'CLCR')], by = list(data5[,'DAY']), FUN = mean, simplify= F, drop= F)

In [ ]:
# problem 4:Using the same data5.csv data set calculate the median and maximum WT by DAY.
#Be careful, there are missing values (NA’s) in the WT variable. How can we deal with
#these?

In [ ]:
summary(data5$WT)

   Length     Class      Mode
      600 character character

In [3]:
table(data5$WT)

  . 101 106  34  39  40  41  43  44  45  47  49  50  51  53  54  55  56  57  59
  6   7   9   6   6   6   6   6   9   6   6  27   9  21  15   6  15   6  32  38
 60  61  62  63  64  65  66  67  69  70  71  72  74  75  76  77  78  80  81  84
  6  18   6   9  15  14  14  48  18  15  12   9  21  15   9  18   6   9  18  30
 85  88  91  94  96
  9   9   6  18   6

In [8]:
unique(data5$WT)

 [1] "91"  "."   "101" "47"  "57"  "56"  "66"  "67"  "76"  "74"  "84"  "71"
[13] "81"  "49"  "59"  "45"  "55"  "94"  "65"  "75"  "39"  "85"  "54"  "64"
[25] "41"  "51"  "62"  "72"  "34"  "44"  "69"  "77"  "96"  "106" "60"  "70"
[37] "61"  "40"  "50"  "43"  "53"  "80"  "63"  "78"  "88"

In [11]:
#convert weight from a character variable to an integer
data5$WT<- as.integer(data5$WT)

In [12]:
summary(data5$WT)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  34.00   56.00   66.00   66.44   76.00  106.00       6

In [ ]:
#calculate the median and maximum WT by DAY
#remove NAs( missing values) using na.rm= TRUE

In [22]:
#calculate the median by DAY
tapply(data5$WT, data5$DAY, median, na.rm= T, simplify= F)

$`1`
[1] 57

$`2`
[1] 69

In [25]:
##calculate the maximum WT by DAY
tapply(data5$WT, data5$DAY, max, na.rm= T, simplify=F)

$`1`
[1] 96

$`2`
[1] 106

In [ ]:
#problem 5: In many of the examples in this chapter, we used the duplicated function with
#the logical ! operator to limit prob1 to one row per individual prior to performing
#data summaries. Generate a logical vector that could be used to subset prob1 to
#one line per individual and determine minimum and maximum CRCL in this subset of
#prob1.

In [26]:
#import prob1 dataset
prob1<- read.table('prob1.tab', header= T, skip= 0, stringsAsFactors = T )

In [27]:
head(prob1)

  C ID DV    AMT II ADDL TIME RATE HT  WT CLCR   SEX AGE
1 0 1   0.00 900 12 9     0.0 300  103 91 101.48 0   46
2 0 1   6.99   0  0 0     1.5   0  103 91 101.48 0   46
3 0 1  12.66   0  0 0     3.0   0  103 91 101.48 0   46
4 0 1   5.31   0  0 0     8.0   0  103 91 101.48 0   46
5 0 1   2.39   0  0 0    11.9   0  103 91 101.48 0   46
6 0 1   2.87   0  0 0    23.9   0  103 91 101.48 0   46

In [29]:
str(prob1)

'data.frame':	600 obs. of  13 variables:
 $ C   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ID  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ DV  : num  0 6.99 12.66 5.31 2.39 ...
 $ AMT : int  900 0 0 0 0 0 0 0 0 0 ...
 $ II  : int  12 0 0 0 0 0 0 0 0 0 ...
 $ ADDL: int  9 0 0 0 0 0 0 0 0 0 ...
 $ TIME: num  0 1.5 3 8 11.9 ...
 $ RATE: int  300 0 0 0 0 0 0 0 0 0 ...
 $ HT  : int  103 103 103 103 103 103 103 103 103 103 ...
 $ WT  : int  91 91 91 91 91 91 91 91 91 91 ...
 $ CLCR: num  101 101 101 101 101 ...
 $ SEX : int  0 0 0 0 0 0 0 0 0 0 ...
 $ AGE : int  46 46 46 46 46 46 46 46 46 46 ...

In [30]:
#filter dataset by unique IDs
newprob1<- prob1[!duplicated(prob1$ID), ]
newprob1

    C ID DV AMT II ADDL TIME RATE HT  WT CLCR   SEX AGE
1   0  1 0  900 12 9    0    300  103 91 101.48 0   46
16  0  2 0  900 12 9    0    300   53 47  52.84 0   44
31  0  3 0  900 12 9    0    300   69 56  63.78 1   41
46  0  4 0  900 12 9    0    300   67 57  46.16 0   48
61  0  5 0  900 12 9    0    300   76 66  70.34 0   51
76  0  6 0  900 12 9    0    300   89 74  56.59 0   47
91  0  7 0  900 12 9    0    300  108 71  68.17 0   43
106 0  8 0  900 12 9    0    300   60 49  44.12 1   45
121 0  9 0  900 12 9    0    300   43 45  38.34 1   47
136 0 10 0  900 12 9    0    300   77 84 192.38 0   47
151 0 11 0  900 12 9    0    300   79 65  56.18 1   48
166 0 12 0  900 12 9    0    300   69 57  47.30 1   45
181 0 13 0  900 12 9    0    300   61 39  38.53 1   48
196 0 14 0  900 12 9    0    300   67 75  80.83 0   46
211 0 15 0  900 12 9    0    300   69 49  57.22 1   50
226 0 16 0  900 12 9    0    300   98 84 110.15 0   44
241 0 17 0  900 12 9    0    300   66 54  47.10 1   51
256 0 18 0  900 12 9    0    300   47 41  38.60 1   38
271 0 19 0  900 12 9    0    300   51 62  65.08 0   47
286 0 20 0  900 12 9    0    300   55 34  24.58 1   48
301 0 21 0  900 12 9    0    300   57 59  60.65 0   45
316 0 22 0  900 12 9    0    300   76 67  64.10 0   47
331 0 23 0  900 12 9    0    300   86 96 135.65 0   45
346 0 24 0  900 12 9    0    300   55 55  47.84 0   44
361 0 25 0  900 12 9    0    300   63 57  61.69 1   49
376 0 26 0  900 12 9    0    300   82 60  49.90 0   45
391 0 27 0  900 12 9    0    300   55 51  50.26 1   44
406 0 28 0  900 12 9    0    300   73 74  68.44 0   45
421 0 29 0  900 12 9    0    300   79 59  77.82 0   48
436 0 30 0  900 12 9    0    300   41 40  47.91 1   44
451 0 31 0  900 12 9    0    300   65 49  40.89 1   45
466 0 32 0  900 12 9    0    300   55 43  34.28 1   46
481 0 33 0  900 12 9    0    300   74 64  74.07 0   42
496 0 34 0  900 12 9    0    300   64 70  92.77 0   47
511 0 35 0  900 12 9    0    300   81 67  62.11 0   42
526 0 36 0  900 12 9    0    300   92 53  50.22 1   47
541 0 37 0  900 12 9    0    300   95 78 124.74 0   43
556 0 38 0  900 12 9    0    300   76 51  54.69 1   42
571 0 39 0  900 12 9    0    300   69 57  72.49 0   44
586 0 40 0  900 12 9    0    300   68 71  91.46 0   48

In [31]:
#determine minimum and maximum CRCL in this subset of prob1.
summary(newprob1$CLCR)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  24.58   47.70   58.94   66.54   72.89  192.38

In [33]:
#Alternative:
paste('minimum is', min(newprob1$CLCR))

paste('maximum is', max(newprob1$CLCR))

[1] "minimum is 24.58"

[1] "maximum is 192.38"

In [ ]:
#problem 6: Load the women data set. Write a function that converts weight in pounds to weight
#in kilograms. Convert the weight variable in the women data set from pounds to
#kilograms using your function with lapply.

In [35]:
head(women)

  height weight
1 58     115
2 59     117
3 60     120
4 61     123
5 62     126
6 63     129

In [37]:
str(women)

'data.frame':	15 obs. of  2 variables:
 $ height: num  58 59 60 61 62 63 64 65 66 67 ...
 $ weight: num  115 117 120 123 126 129 132 135 139 142 ...

In [36]:
conversion<- function(x)x/2.2
lapply(women$weight, conversion)

[[1]]
[1] 52.27273

[[2]]
[1] 53.18182

[[3]]
[1] 54.54545

[[4]]
[1] 55.90909

[[5]]
[1] 57.27273

[[6]]
[1] 58.63636

[[7]]
[1] 60

[[8]]
[1] 61.36364

[[9]]
[1] 63.18182

[[10]]
[1] 64.54545

[[11]]
[1] 66.36364

[[12]]
[1] 68.18182

[[13]]
[1] 70

[[14]]
[1] 72.27273

[[15]]
[1] 74.54545